section#home {
    height: 88vh;
    background-image: url(images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 59%;
    background-attachment: fixed
}

header {
    height: 12vh;
}

nav {
    height: 12vh;
    background-color: #dedede;
    position: fixed;
    top: 0;
    z-index: 9;
}

figure {
    width: 6%;
}

.menu-buttons {
    color: #777777;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.menuu {
    margin-left: 1000px;
}

.menu-buttons:hover {
    color: #bdb3b3;
    text-decoration: none;
    text-decoration-color: transparent;
}

.welcome {
    height: 100%;
}

.tablegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.25fr 1.5fr 0.75fr;
    width: 750px;
    height: 500px;
    opacity: 0.9;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #4e4e4e;
}

.item2 {
    grid-column-start: 4;
    background-color: #4e4e4e;
}

.item3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #b5b5b5;
}

.item4 {
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: #4e4e4e;
}

.midartw {
    color: #ffffff;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.linha-vertical {
    height: 255px;
    border-right: 4px solid #1f1f1f;
}
.linha-horizontal {
    width: 215px;
    border-bottom: 3px solid #1f1f1f;
}

section#sobre {
    background-color: #ffffff;
    height: 100vh;
}

.aboutgrid {
    display: grid;
    grid-template-columns: 0.5fr 0.75fr 0.75fr 1fr 0.75fr 0.75fr 0.75fr 0.75fr 1fr 0.75fr 0.75fr 0.5fr;
    grid-template-rows: 0.5fr 1.25fr 1fr 0.5fr 1fr 1.25fr 0.5fr;
    width: 75%;
    height: 75%;
    background-color: #7d7d7d;
}

.aboutgrid div:nth-child(1) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
    background-image: url(images/figure-about-2.jpg);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: 359px;
    background-position-y: 112px;
    background-attachment: fixed
    
}

.aboutgrid div:nth-child(2) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 8;
    grid-column-end: 11;
    background-image: url(images/figure-about-1.jpg);
    background-repeat: no-repeat;
    background-size: 62%;
    background-position-x: 689px;
    background-position-y: 100%;
    background-attachment: fixed
}

.aboutgrid div:nth-child(3) {
    background-color: #ffffff;
    grid-column-start: 1;
    grid-column-end: 5;
}

.aboutgrid div:nth-child(4) {
    background-color: #ffffff;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.aboutgrid div:nth-child(5) {
    background-color: #ffffff;
    grid-row-start: 7;
    grid-column-start: 9;
    grid-column-end: 13;

}

.aboutgrid div:nth-child(6) {
    background-color: #ffffff;
    grid-row-start: 6;
    grid-column-start: 11;
    grid-column-end: 13;
}

.aboutgrid div:nth-child(7) {
    background-color: #7d7d7d;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 12;
    color: #ffffff;
}

.aboutgrid div:nth-child(8) {
    background-color: #7d7d7d;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 6;
    color: #ffffff;
}

section#servicos {
    width: 200vh;
}




section#contato {
    height: 250px;
    background-color: #5f5e5e;
}

footer h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}

footer h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    width: 253px;
}

footer figure {
    width: 2rem;
}

footer div:nth-child(3) {
    width: 201px;
}

.insta {
    filter: contrast(0) brightness(10);
}

.insta:hover {
    filter: none;
}

.tw {
    filter: grayscale(10) brightness(10);
}

.tw:hover {
    filter: none;
}

.face {
    filter: grayscale(10) brightness(10) contrast(10);
}

.face:hover {
    filter: none;
}
