section {
    height: 100vh;
    background-image: url(images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 59%;
    background-attachment: fixed
}

nav {
    height: 12%;
    background-color: #dedede;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

figure {
    width: 14%;
}

.menu-buttons {
    color: #777777;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.menu-buttons:hover {
    color: #bdb3b3;
    text-decoration: none;
    text-decoration-color: transparent;
}
